html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
}

#main h1 {
	text-align: center;
	margin-bottom: 20px;	
}


#math {

}

#multiplicands form {
	width: 325px;
	position: relative;
	text-align: right;
}

.options {
	font-size: 20px;
}

#math span {
	position: relative;
	width: 25px;
	height: 25px;
	padding: 0px 0px;
	margin: 0px 0px;
	display: inline-block;
	image-rendering:optimizeSpeed;             /* Legal fallback                 */
	image-rendering:-moz-crisp-edges;          /* Firefox                        */
	image-rendering:-o-crisp-edges;            /* Opera                          */
	image-rendering:-webkit-optimize-contrast; /* Chrome (and eventually Safari) */
	image-rendering:optimize-contrast;         /* CSS3 Proposed                  */
	-ms-interpolation-mode:nearest-neighbor;   /* IE8+                           */
}

#eq-def p {
	font-size: 14px;
	font-weight: normal;
	color: #ccc;
}

.equation {
	border-bottom: 1px #ccc solid;
	padding: 5px 0px;
	text-align: right;
	float: right;
	clear: right;
}

g text {
	font-weight: normal;
	dominant-baseline: central;
	fill: #000;
	pointer-events: none;
}

.dim-circle {
	opacity: 0.5;
	pointer-events: none;
}


.hide-circle {
	opacity: 0.03;
	pointer-events: none;
}

g circle {
 	/*shape-rendering: optimizeSpeed;*/
	-moz-transition: all 0.3s;
   	-o-transition: all 0.3s;
   	-webkit-transition: all 0.3s;
   	transition: all 0.3s;
}

g circle:hover {

}

